*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #dadada;
  font-size: 10px;
}

h1.sitename {
  font-size: 4em;
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 90%;
}

.preview {
  display: inline-block;
  margin: 1% auto;
  padding: 20px 25px;
  background-image: url("../images/baku.jpg");
  width: 400px;
  height: 310px;
  background-size: cover;
  background-position: center;
}

.baku {
  background-image: url(../images/baku.jpg);
}
.london {
  background-image: url(../images/london.png);
}
.madrid {
  background-image: url(../images/madrid.jpg);
}
.rome {
  background-image: url(../images/rome.jpg);
}

@media screen and (min-width: 575px){
  .preview {
    width: 48%;
  }

}
@media screen and (min-width: 991px){
  div.preview {
    width: 23%;
  }
}
